@charset "UTF-08";
/* 
HTML é id = # em css
HTML é class = . em css

*/
body{
    background-color: rgba(139, 222, 224, 0.733);
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: rgb(45, 43, 155);
}
h1#principal{
    text-align: center;
    text-shadow: 10px 10px 10px rgb(115, 121, 194);
    background-color: rgba(0, 0, 255, 0.055);
}
h2{
    color: rgb(97, 98, 173);
}
.basico{
    color: rgb(62, 167, 62);

}
.meiota{
    color: rgb(185, 185, 109);
}
.avancado{
    color: rgb(209, 104, 104);
}
.destaque{
    background-color:rgba(137, 43, 226, 0.24);
}